<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="mailto:naman.bhayana13@gmail.com" target="_blank" rel="noopener" title="Email">
                <i class="fa-solid fa-envelope" style="color: #EA4335"></i>
            </a>
            <a href="https://namanbhayana.com" target="_blank" rel="noopener" title="Website">
                    <i class="fa-solid fa-globe" style="color: #000"></i>
            </a>
            <a href="https://linkedin.com/in/namanbhayana007" target="_blank" rel="noopener" title="LinkedIn">
                <i class="fa-brands fa-linkedin" style="color: #0A66C2"></i>
            </a>
            <a href="https://instagram.com/naman_bhayana" target="_blank" rel="noopener" title="Instagram">
                <i class="fa-brands fa-instagram" style="color: #E4405F"></i>
            </a>
            <a href="https://twitter.com/bhayana_naman" target="_blank" rel="noopener" title="X">
                <i class="fa-brands fa-x-twitter" style="color: #000"></i>
            </a>
            <a href="https://github.com/naman-bhayana" target="_blank" rel="noopener" title="GitHub">
                <i class="fa-brands fa-github" style="color: #333"></i>
            </a>
        </div>
        <div class="f-info-brand">&copy; WanderNest Private Limited</div>
        <div class="f-info-links">
            <a href="/">Privacy</a>&nbsp;&nbsp;
            <a href="/">Terms</a>&nbsp;&nbsp;
            <a href="/">Sitemap</a>&nbsp;&nbsp;
            <a href="https://namanbhayana.com" target="_blank" rel="noopener">Company details</a>&nbsp;&nbsp;
        </div>
    </div>
</footer>